
.qr-code .qr-close{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

    font-family: 'Open Sans';
    width: 31px;
    padding-top: 0px;
    position: absolute;
    margin-top: -411px;
    margin-left: 446px;
    color: dimgray;
    background-color: rgba(143, 128, 114, 1.000);
    height: 30px;
    border-radius: 20px;
   
    line-height: 26px;
    
    transition: all ease 0.4s;
  }
  .qr-code .qr-close:hover{
    color: wheat;
    transform: rotate(45deg);


  }
  .qr-code p{
    color: wheat;
    padding: 20px;
  }
  .qr-code{
    flex-direction: column;
    display: flex;
    border-top: 0.5rem solid #8F8073;
    border-right: 0.5rem solid #8F8073;
    border-bottom: 1rem solid #8F8073;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: 0.5rem solid #8F8073;
    background-color: #8F8073;
    position: absolute;
    width: 50%;
    height: auto;
    top: 10%;
    text-align: center;
   
    align-items: center;
    justify-content: center;
    max-width: 400px;
}


footer a.a_qrcode ion-icon{ 
    width: 30px;
      height: 30px;
      text-decoration: none;
      color: rgba(255,255,255,0.7) !important;
  }
  footer ion-icon{
    width: 30px;
      height: 30px;
      color: rgba(255,255,255,0.7) !important;
  }